.head h1 {
  color: rgb(255,255,255);
}

.head p {
  color: rgb(255,255,255);
}

.tips {
	background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.tips h2 {
  color: rgb(66,0,7);
  font-family:  Avenir, "Gill Sans", Seravek;
  font-size: 24px;
  margin-left: 5%;
}

.tips p{
  font-size: 15px;
  margin-left: 5%;
}

.tips img {
	padding: 20px;
}

/*Start Parallax*/

.parallax1 {
	background: url("images/sprout.jpg") repeat fixed;
}

.parallax2 {
	background: url("images/wood.jpg") repeat fixed;
}

.parallax-inner {
	padding-top: 20%;
	padding-bottom: 30%;
}

.parallax-inner2 {
  padding-top: 10%;
  padding-bottom: 10%;
}

/*End Parallax*/
